.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.container input,
.container select {
  padding: 20px;
  background-color: slategray;
  border: none;
  border-radius: 5px;
  color: white;
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: slategray;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
